*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%; /*Height of the body is the entire height of webpage*/
  margin: 0%;
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
}

.navbar-dark .navbar-brand { /*Need to mention navbar-dark first to OVERRIDE the default setting it has*/
  background-color: green;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  color: rgb(173, 197, 255);
  padding-right: 6%;
}

.navbar-dark .navbar-brand:hover { /*Need to mention navbar-dark first to OVERRIDE the default setting it has*/
  color: white; /*Color of Name at top left changes to white when hovering*/
}

a {
  text-decoration: none;
  color: inherit; 
}

p{
  text-decoration: none;
  color: inherit;
}

.navbar{
  background-color: black;
}

.navbar-nav{
  background-color: lightcoral;
}

.navbar-dark .navbar-nav .nav-link{ /*Need to mention navbar-dark first to OVERRIDE the default setting it has*/
  color:white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-dark .navbar-nav .nav-link:hover{ /*Need to mention navbar-dark first to OVERRIDE the default setting it has*/
  color: rgb(173, 197, 255);
  transition: color 0.25s ease-out;
}

nav .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.container{
  min-height: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.AboutHeader{
  color: white;
}

.AboutContent{
  color: white;
  max-width: 60%;
  border: 3px solid blue;
  padding: 10px;
}


footer .Copyright{
  display: flex;
  color: white;
  justify-content: center;
}
