*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%; /*Height of the body is the entire height of webpage*/
  margin: 0%;
}

.container{
  min-height: 100%; /*The container height is the entire height of webpage (possible since body is entire webpage*/
  
  display: flex; /*activates flexbox*/
  justify-content: center; /*This is the horizontal location (on main axis) of the two boxes in the container div*/
  align-items: center; /*This is the vertical location (on cross axis) of the two boxes in the container div*/
  flex-wrap: wrap; /*When the screen size decreases, and the text doesn't fit, then it goes to the next line*/
}

.Name {
  background: lightcoral;
  flex: 0 1 300px; /*creates responsive layout, where shrinks ONLY when screen size gets smaller. The 300px is the base width of the box*/
  height: 40vh;
  text-align: center;
}

.Options{
  background: lightcoral;
  flex: 0 1 300px; /*creates responsive layout, where shrinks ONLY when screen size gets smaller*/
  height: 40vh;
  display:flex; /*the options inside the "Options" div are flex as well*/
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

h1, h4{
  display: inline-block;
  background: lightgreen;
}